body{
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    transition: all 0.3s;
}

.infos{
    position: absolute;
}


.mainSection{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    /*transition: all 0.3s;*/
}
canvas{
    z-index: 3;
}

/**
* CREATION SECTION
*/
.creationSection{
    z-index: 1;
    transition: all 0.5s;
}
.creationSection-circleView{
    width: 100%;
    height:100%;
}
.creationSection-form{
    position: absolute;
    top: 70%;
    left: 47%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
}
.creationSection-form input{
    display: block;
    border : none;
    background: transparent;
    outline: none;
    text-align: center;
    font-size:3rem;
    color: transparent;
}
.creationSection-form .Submit{
    cursor:pointer;
    color: #9c9c9c;
    margin-top:20px;
    opacity: 0;
    display: block;
    transition: opacity 0.5s ;
}


/**
* WORLD SECTION
*/
.worldSection{
    z-index:0;
}
.worldSection-circlesView{
    width: 100%;
    height:100%;
}


/**
* ELEMENTS
*/
#changeTheme{
    position: fixed;
    top:20px;
    left:20px;
    width:10px;
    height:10px;
    border-radius: 50%;
    transition: all 0.5s;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}
#changeTheme::after{
    content: "";
    position: fixed;
    top: 20px;
    left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all 0.5s;
    border: solid 0.01px;
}
#changeTheme:hover::after{
    transform: scale(1.5);
}
.changeView-container{
    position: fixed;
    top:20px;
    right:20px;
    z-index: 2;
    width: 100px;
    height: 20px;
    text-align: center;
}
.changeView {
    position: fixed;
    top:20px;
    right:20px;
    transition: all 0.5s;
    z-index: 2;
    cursor: pointer;
}
.changeView-container::after{
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 0%;
    border-left: solid  2px;
    transform: translateY(-20%) translateX(50%) skewX(-30deg);
    transition: height 0.5s;
}
.changeView-container:hover::after{
    height: 170%;
}
#skipCreate{
    opacity: 0;
    position: absolute;
    top:0;
    right:0;
    width: 100%;
}
#mute{
    width:20px;
    height:20px;
    position: fixed;
    bottom:20px;
    left:20px;
    z-index: 10;
    background-size: contain;
    opacity: 0;
}
#mute::after{
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 0%;
    border-left: solid  2px;
    transform: translateY(0%) translateX(50%) skewX(-30deg);
    transition: height 0.5s;
    cursor: pointer;
}
#mute:hover::after{
    height: 100%;
}
#mute.isMutted::after{
    height: 100%;
}

.hide{
    opacity:0;
}

