/**
* THEME DARK
*/

.dark{
    background: #272727;
}
.dark .mainSection{
    background: #272727;
    color: white;
}
.dark .creationSection{
    background: rgba(39,39,39,0.97);
}
.dark .creationSection.opaque{
    background: rgba(39,39,39,1) !important;
}
.dark .creationSection-form input{
    text-shadow: 0 0 0 white;
}
.dark #changeTheme{
    background: white;
}
.dark #changeTheme::after{
    border-color: white;
}
.dark .changeView{
    color: white;
}
.dark .changeView-container{
    background: #272727;
}
.dark .changeView-container::after{
    border-color: #ffffff;
}
.dark #mute{
    background-image: url(../img/speaker-w.svg);
}
.dark #mute::after{
    border-color: #ffffff;
}


/**
* THEME LIGHT
*/

.light{
    background: #ffffff;
}
.light .mainSection{
    background: #ffffff;
    color: #272727;
}
.light .creationSection{
    background: rgba(255,255,255,0.95);
}
.light .creationSection.opaque{
    background: rgba(255,255,255,1) !important;
}
.light .creationSection-form input{
    text-shadow: 0 0 0 #272727;
}
.light #changeTheme{
    background: #272727;
}
.light #changeTheme::after{
    border-color: #272727;
}
.light .changeView{
    color: #272727;
}
.light .changeView-container{
    background: #ffffff;
}
.light .changeView-container::after{
    border-color: #272727;
}
.light #mute{
    background-image: url(../img/speaker-b.svg);
}
.light #mute::after{
    border-color: #272727;
}
